<div id="author-banner-container" dir={{bannerDir}} class="author-banner">
    <div class="author-banner-close author-banner-close-{{bannerDir}}">
        <a id="author-banner-close-button" href="#" title="Schließen"><div class="author-banner-close-button"></div></a>
    </div>

    <a class="author-banner-button-link" href="{{bannerLink}}">
        <div class="author-banner-inner">
            <div class="author-banner-image-{{bannerDir}}">
                <div class="author-banner-image-{{bannerDir}}-inner"></div>
            </div>
            <div class="author-banner-title">
                <div class="author-banner-title-wrapper">
                    <div class="author-banner-title-inner author-banner-title-inner-{{bannerDir}}">
                        <div class="author-banner-title-question">
                            {{bannerTitleQuestion}}
                            <br>
                            <span class="author-banner-title-ask">
                                {{bannerSubtitleAsk}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="author-banner-button-wrapper">
                <div class="author-banner-button">
                    <div class="author-banner-button-inner">
                        {{bannerButtonNext}}
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
